/*
COLORS

Primary: #273c75
Primary light: #3c5db5
Primary dark: #162242

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Lato;
  color: #132360;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 100vh; }

.header {
  background-image: linear-gradient(to right bottom, rgba(19, 35, 96, 0.8), rgba(75, 123, 236, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 100vw;
  grid-row-gap: 5rem;
  justify-items: center;
  align-items: center; }
  .header p {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1rem;
    font-size: 2.6rem;
    color: #faf9f9;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header p::before, .header p::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__picture {
    height: 22rem;
    display: block;
    border-radius: 50%;
    border: 0.2rem solid #fffa65;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
  .header__welcome {
    transition: all .3s ease-out; }
    .header__welcome:hover {
      transform: scale(1.1); }
  .header__icons {
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: 1fr;
    align-items: center; }
  .header__icon {
    height: 3.5rem;
    fill: #fffa65;
    transition: all .2s ease-in;
    cursor: pointer; }
    .header__icon:hover, .header__icon:active {
      transform: translateY(-1rem); }
  .header__arrow {
    transition: all .2s ease-out; }
    .header__arrow:hover, .header__arrow:active {
      transform: translateY(1rem); }

h1 {
  font-size: 4rem;
  color: #fffa65;
  letter-spacing: .1rem;
  font-weight: 300; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #faf9f9; }
