.aboutme {
    height: 100vh;
    //position: relative;
    
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .3), rgba($color-primary-dark, .3)), url(../img/aboutme.jpeg);
    background-size: cover;


    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100vh;
        justify-items: center;
        align-items: center;
        grid-column-gap: 2rem;
        

        &--text {
            width: 40vw;
            background-color: rgba($color-grey-light-1, 1);
            //background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));

            font-size: 2.2rem;
            padding: 3rem;
            color: $color-primary-dark;
            font-weight: 400;
            letter-spacing: 2px;
            z-index: 1;
            text-align: justify;
            border-radius: 10px;
            

            grid-column: 3 / 5;
            

        }
    }
}