.aboutme {
    height: 100vh;
    position: relative;
    
    //background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));


    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100vh;
        justify-items: center;
        align-items: center;
        

        &--text {
            width: 50vw;
            //background-color: rgba($color-primary, .7);
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));

            font-size: 3rem;
            padding: 4rem;
            color: $color-grey-light-1;
            font-weight: 300;
            letter-spacing: 2px;
            z-index: 1;
            text-align: justify;
            border-radius: 10px;
            

            grid-column: 2 / 4;
            

        }
    }
}