/*
COLORS

Primary: #273c75
Primary light: #3c5db5
Primary dark: #162242

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

$color-primary: #4b7bec;
$color-primary-dark: #132360;
$color-primary-light: #799df1;

$color-secondary: #fffa65;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$font-primary: Lato;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}
body {
    font-family: $font-primary;
    color: $color-primary-dark;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 100vh;
}

