h1 {
    font-size: 4rem;
    color: $color-secondary;
    letter-spacing: .1rem;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;
    color: $color-grey-light-1;
}

h3 {
    font-size: 3rem;

    color: $color-secondary;
}